<%- include("components/head.ejs") %>

<body>
    <%- include('components/header.ejs') %>
    <main id="content">
        <section>
            <form action="/result">

                <fieldset>
                    <legend>Step 1: Pick a size</legend>
                    <label for="small">Small
                        <input required id="small" type="radio" name="size" value="small"  <%= query.size == "small" ? checked="checked" : checked="n" %>>
                    </label>
                    <label for="medium">Medium
                        <input id="medium" type="radio" name="size" value="medium" <%= query.size == "medium" ? checked="checked" : checked="n" %>>  
                    </label>
                    <label for="large">Large 
                        <input id="large" type="radio" name="size" value="large" <%= query.size == "large" ? checked="checked" : checked="n" %>>    
                    </label>
                    <label for="xl">Extra Large 
                        <input id="xl" type="radio" name="size" value="xl" <%= query.size == "xl" ? checked="checked" : checked="n" %>>
                    </label>
        
                    <label for="xxl">Extra Extra Large
                        <input id="xxl" type="radio" name="size" value="xxl" <%= query.size == "xxl" ? checked="checked" : checked="n" %>>
                    </label>
      
                    <!-- <label for="reset">Reset</label>
                        <input type="reset" value="Reset the form" accesskey="r"> -->
                    
                    <%= query.shirttext %>

                   
                    <input type="hidden" name="step" value="1">
                    <button type="submit" formaction="/save">Save</button>
                    <button type="submit" formaction="#black" data-step="1">Go on to step 2</button>
                </fieldset>

                <fieldset>
                    <legend>Step 2: Pick a color for your t-shirt</legend>
                    <label for="black">Default: Black
                    <input checked id="black" type="radio" name="color" value="black"  <%= query.color == "black" ? checked="checked" : checked="n" %>>
                </label>
                    
                    <label for="white">White 
                    <input id="white" type="radio" name="color" value="white"  <%= query.color == "white" ? checked="checked" : checked="n" %>>
                </label>
                 
                    <label for="red">Red 
                    <input id="red" type="radio" name="color" value="red"  <%= query.color == "red" ? checked="checked" : checked="n" %>>
                </label>
                 
                    <label for="blue">Blue
                    <input id="blue" type="radio" name="color" value="blue"  <%= query.color == "blue" ? checked="checked" : checked="n" %>>
                </label>
                    <%= query.shirttext %>

                    <button type="submit" formaction="/save">Save</button>

                    <button type="submit" formaction="#" data-step="0">Back to step 1</button>
                    <button type="submit" formaction="#black" data-step="2">Go on to step 3</button>
                </fieldset>

                <fieldset data-step="3">
                    <legend>Step 3: Write your text!</legend>
                    <label for="shirttext">Text
                    <textarea required name="shirtText" id="shirtText" maxlength="80"></textarea>
                </label>
                        <!-- <input type="text" name="shirttext" id="shirttext" value="<%= query.shirttext == "" ? "" : query.shirttext %>"> -->
                    <img src="/img/shirt.jpg" alt="">
                    <button type="submit" formaction="#" data-step="1">Back to step 2</button>
                    <button type="submit" formaction="#black" data-step="3">Go on to step 4</button>
                </fieldset>
                <fieldset>
                    <label for="font">Choose a font</label>
                    <select name="font" id="font">
                        <option value="arial">Arial</option>
                        <option value="calibri">Calibri</option>
                        <option value="times-new-roman">Times New Roman</option>
                    </select>
                    <button type="submit" formaction="#" data-step="2">Back to step 4</button>
                    <button type="submit" formaction="#black" data-step="4">Go on to step 5</button>
                </fieldset>
                <fieldset>
                    <button type="submit" formaction="#" data-step="3">Back to step 5</button>
                    <button type="submit" formaction="/save">Save</button>
                    <button type="submit">Go on</button>
                </fieldset>           
            </form>
        </section>
    </main>
    <%- include('components/footer.ejs') %>
</body>

</html>