<%- include("components/head.ejs") %>

<body>
    <%- include('components/header.ejs') %>
    <main id="content">
        <section>
            This is your shirt : 
            <table>
                <tbody>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
                <% for (const [key, value] of Object.entries(query)) {%>
                    <tr>
                        <td><%= key %></td> 
                        <td><%= value %></td>
                    </tr>
                <% } %> 
                </tbody>
            </table>    
            <figure>
                <img src="/img/<%= query.shirtColor %>.jpg" alt="t-shirt"></img>
                <figcaption class="text-<%= query.textColor%>"><%= query.shirtText == "" ? "" : query.shirtText %></figcaption>
            </figure>
            <!-- <form action="">
             
                <button type="submit" formaction="/save">Save</button>
                <button>Go on</button>

            </form> -->

            <% if(typeof url != 'undefined'){ %>
                <p>Save this link: <a href="<%= url%>">Your shirt!</a></p>
            <% }else{ %>
                <p>Sorry, something went wrong</p>
            <% } %>
            
            <a href="<%= baseurl + "/design-shirt/?" + originalUrl%>">Your shirt!</a>
                Or go on with your shirt now
            </a>
        </section>
    </main>
    <%- include('components/footer.ejs') %>
</body>

</html>