<%- include('head.ejs') %>
<%- include('header.ejs') %>


<% if(typeof url != 'undefined'){ %>
    <button class="active" data-btn="save">Save this link</button><input type="text" name="save-link" title="link to your custom shirt" value="<%= url %>"></p>
<% }else{ %>
    <p>Sorry, something went wrong</p>
<% } %>

<a href="<%= baseurl + "/design-shirt/?" + originalUrl%>">Your shirt!</a>
    Or go on with your shirt now
</a>

<%- include('footer.ejs') %>