<%- include('head.ejs') %>
<%- include('header.ejs') %>


<% if(typeof url != 'undefined'){ %>
    <p>Save this link: <a href="<%= baseurl + "/design-shirt/" + url %>">Your shirt!</a></p>
<% }else{ %>
    <p>Sorry, something went wrong</p>
<% } %>

<a href="<%= baseurl + "/design-shirt/?result" + url %>">Your shirt!</a>
    Or go on with your shirt now
</a>

<%- include('footer.ejs') %>